<template>
    <require from="./contact.css"></require>
<div class="contact">
    <h3 class="contact__title">NovelShip User Support</h3>
    <div>
        <a class="contact__header">ITEM INQUIRIES:</a>
        <p class="contact__paragraph">– For all specific product-related (item details/ shipping/ pricing) inquiries please contact the Merchant selling the item via <a class="contact__paragraph__link" href="mailto:sales@novelship.com">sales@novelship.com</a>.</p>
    </div>
    <div>
    <a class="contact__header">SERVICE INQUIRIES:</a>
        <p class="contact__paragraph">– For any service-related questions or concerns, please feel free to email NovelShip’s Member Support Team at <a class="contact__paragraph__link" href="mailto:support@novelship.com">support@novelship.com</a> and we will reply as promptly as possible.</p>
    </div>
    <div>
    <a class="contact__header">NovelShip Member Support business hours:</a>
        <div class="contact__paragraph">10:00am - 7:00pm Singapore Standard Time</div>
        <div class="contact__paragraph">Tel: +65 6612 4103</div>
        <div class="contact__paragraph">Closed on weekends and Singapore National Holidays</div>
    </div>
</div>
</template>