<template>
    <require from="./refunds.css"></require>
<div class="refunds">
    <h3>Return and Refund policy:</h3>
        <div>
            <a class="refunds__header">1. About Purchases</a>
                <a class="refunds__paragraph">Unless otherwise explicitly stated, all sales of goods and other items exhibited on NovelShip shall be between the Merchant selling the goods and the Customer buying the goods. The NovelShip website and the operating company for NovelShip shall not be responsible for any obligations of the Merchant. Customers buying from a Merchant are advised to be aware of applicable terms and conditions when buying via NovelShip.
                </a>
        </div>
    
        <div>
            <a class="refunds__header">2. Case of refunds/exchanges</a>
                <a class="refunds__paragraph">All sales of goods and other items on NovelShip cannot be returned to the Merchant for a refund, or exchanged for another item, except in the following limited cases:
                    <ul>
                        <li>The bought item, as delivered, is materially different from that which was ordered (e.g. different size, color, material, model, version).</li>
                        <li>Examples of legitimate cases for a return or exchange:</li>
                            <ul>
                                <li>Ordered item was short-sleeved, but the delivered item is long‐sleeved</li>
                                <li>Ordered item was size S, but the delivered item is size M</li>
                                <li>Ordered item was Black, but the delivered item is White</li>
                            </ul>
                        <li>The delivered item was damaged in transit or before shipment (damages caused by the buyer shall NOT be subject to return or exchange).
                        </li>
                        <li>The delivered item has significant defects.</li>
                            <ul><li>Examples of significant defects:</li>
                                <ul><li>The toy is unable to turn on.</li>
                                    <li>The shirt is missing a button</li>
                                    <li>The shoes are missing their shoelaces</li>
                                </ul>
                            </ul>
                        <li>If the Merchant has accepted a refund/exchange in advance via his/her specific refund/exchange policy.
                        </li>
                            <ul>
                                <li>In each of the cases above, sufficient evidence must be provided, via email to sales@novelship.com, to the Merchant selling the item in order for a return or exchange to be authorized.</li>
                                <li>NovelShip Member Support reserves the right to assist with refunds/exchange issues between a Merchant and a Customer, although we are not obliged to do so.</li>
                            </ul>
                    </ul>
                </a>
        </div>
        <div>
            <a class="refunds__header">3. Refunds/exchange Authorization</a>
                <a class="refunds__paragraph">Unless otherwise agreed by NovelShip, all refunds and/or exchanges must be authorized in advance by the Merchant. NovelShip reserves the rights to withhold any refunds (in full or in part) on bought items returned to the Merchant, or to NovelShip, without prior consent from the Merchant (via email communications with sales@novelship.com) or NovelShip Member Support.
                <ul>
                    <li>In the case of an unauthorized return, the Merchant (or NovelShip) is not required to re-ship the returned item back to the Customer until the issue is resolved.</li>
                    <li>If refund/exchange authorization has been provided, the Customer must follow the exact procedures as provided by the Merchant (via email communications with sales@novelship.com), or those by NovelShip Member Support, in order for the refund/exchange to be effective. NovelShip shall not be responsible for delays in refunding/exchanging due to the Customer not following the procedures requested.</li>
                </ul>
                </a>
        </div>
    
        <div>
            <a class="refunds__header">4. Refunds/exchange Period</a>
                <a class="refunds__paragraph">Any Customer with a legitimate reason for returning the delivered item for a refund or exchange must contact the Merchant for refunds/exchange authorization within seven (7) days after delivery of the item.
                </a>
        </div>
        
        <div>
            <a class="refunds__header">5. Supplementary Information</a>
                <a class="refunds__paragraph">If the Merchant selling did not or does not have his/her own return /exchange policy, the NovelShip’s Return & Exchange Policy shall apply at all times.
                </a>
        </div>
    
</div>

</template>