@import "../../../style/base";

$border-radius: 0.2rem;
$border-color: #f0f1f4;
$border-width: 0.1rem;
$bg-color-light: lighten($white, 40%);
$body-font-color: #667189;
$font-size-sm: 1.2rem;
$layout-padding-lg: 0.5rem;
$base-transparency: 0.9;
$inverted-text-color: white;
$padding-sm: 0.1rem;
$padding-md: 0.5rem;
.card-element {
  background: $bg-color-light;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px darken($base-background-color, 10%);
  display: block;
  margin-bottom: 0.5rem;
  position: relative;
  padding: $layout-padding-lg;

  &__header,
  &__body {
    padding: $layout-padding-lg;
  }

  &__body {
    &__price {
      font-weight: bold;
    }
  }

  &__ribbon {
    position: absolute;
    top: 20px;
    color: $base-background-color;
    background: $dark-gray;
    border-radius: $border-radius;
    left: 0px;
    opacity: $base-transparency;
    padding: $padding-sm;
    padding-left: $padding-md;
    padding-right: $padding-md;

    i {
      color: $red;
      opacity: 1;
    }
  }

  &__image {
    padding-top: $layout-padding-lg;
    text-align: center;
    img {
      object-fit: cover;
      height: 10rem;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &__header {
    &__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.2rem;
    }
  }
}
