@import "../../../style/base";

$border-radius: 0.2rem;
$border-color: #f0f1f4;
$border-width: 0.1rem;
$bg-color-light: white;
$body-font-color: #667189;
$font-size-sm: 1.2rem;
$layout-padding-lg: 1rem;
$base-transparency: 0.8;
$inverted-text-color: white;
$padding-sm: 0.1rem;
$padding-md: 0.5rem;
.card {
  background: $bg-color-light;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  display: block;
  margin-bottom: 0.5rem;
  position: relative;

  .card-header,
  .card-body,
  .card-footer {
    padding: $layout-padding-lg;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: $layout-padding-lg;
    }
  }

  .card-price {
    font-weight: bold;
  }

  .card-ribbon {
    position: absolute;
    top: 20px;
    color: white;
    background: $secondary-color;
    border-radius: $border-radius;
    opacity: $base-transparency;
    padding: $padding-sm;
    padding-left: $padding-md;
    padding-right: $padding-md;
  }

  .card-image {
    padding-top: $layout-padding-lg;

    &:first-child {
      padding-top: 0;

      img {
        object-fit: cover;
        height: 20rem;
        width: 100%;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
  }

  .card-subtitle {
    color: lighten($body-font-color, 40%);
    font-size: $font-size-sm;
  }

  .card-footer {
    .card-cta {
      button {
        width: 100%;
      }
    }
  }

}
