@import '../../style/base';

.filter-container {
  @include grid-container;
  margin-top: 1rem;

  &__filters {
    display: flex;
    label {
      min-width: 7rem;
    }
    @include grid-media($tablet) {
      display: block;
      @include grid-column(4);
    }
  }
}

.filter-search-container {
  margin-top: 0.5rem;
  margin-left: 20px;
}

.filter-result-container {
  @include grid-media($tablet) {
    @include grid-column(8);
  }
  margin-top: 1.4rem;
}

.filter-result {
  display: flex;
  margin-bottom: 1rem;

  &__image {
    display: inline-block;
    flex: 0 0 auto;
    img {
      height: 8rem;
      width: 8rem;
      object-fit: cover;
    }
  }

  &__content {
    vertical-align: top;
    display: inline-block;
    margin-left: 1rem;
    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.2rem;
    }
    &__shop {
      font-size: 0.7rem;
    }
  }
}
