.editable-text-container {
  &__display {
    cursor: pointer;
  }
}

.editable-text-form {
  display: inline-flex;
  align-items: baseline;
  &__input {
    min-width: 12rem;;
  }
  &__buttons {
    display: flex;
    margin-left: 0.5em;
    &__save {
    }
    &__cancel {
      margin-left: 0.5em;
    }
  }
}
