<template>
  <require from="./profile.css"></require>

  <section class="profile-container">
    <div class="profile-container__image-upload">
      <img class="profile-container__image-upload__image" src.bind="user.avatar || 'https://api.adorable.io/avatars/285/' + user.email" alt.bind="user.name"/>
      <label>Upload</label>
      <input type="file" files.bind="avatar | toArray" change.delegate="upload()" accept="image/*"/>
    </div>
    <div>
      <label>Upload</label>
      <editable-text store.bind="user.name" key="name" placeholder="Full Name" update.call="userUpdate(fragment)"></editable-text>
    </div>
    <div>
      <label>Country</label>
      <editable-selection choices.bind="countries.data" selection.bind="user.country_id" key="country_id" update.call="userUpdate(fragment)">
        <template replacable-part="value">
          ${user.country.name}
        </template>
      </editable-selection>
    </div>
    <div>
      <label>Phone</label>
      <editable-text store.bind="user.phone" key="phone" placeholder="Phone" update.call="userUpdate(fragment)"></editable-text>
    </div>
    <div>
      <label>Address</label>
      <editable-address address.bind="user.address" key="address" callback.call="userUpdate(address)"></editable-address>
    </div>
  </section>
  <section class="card-list-container">
    <h3>Cards</h3>
    <ul class="card-list-container__list">
      <li class="card-list-container__list__item" repeat.for="card of cards">
        <i class="icon ion-card"></i>
        ${card.brand} ending in ${card.last4}
        <i class="card-list-container__list__item__delete icon ion-trash-a" click.delegate="removeCard(card.id)"></i>
      </li>
    </ul>
    <payment-form save.call="save(token)" button-text="Save Card"></payment-form>
  </section>
</template>
