<template>
  <require from="./checkout.css"></require>
  <div class="checkout-container ${state.inflight? 'blur': ''}">
    <section class="order-info">
      <h2>Confirm</h2>
      <p>You are buying ${product.name}</p>
      <p if.bind="request.size">Size: ${request.size.name}</p>
      <p if.bind="request.color">Color: ${request.color.name}</p>
      <p if.bind="request.edition">Edition: ${request.edition.name}</p>
      <h4 if.bind="request.count">Quantity: ${request.count}</h4>
      <h3>Total Cost: SGD ${request.total_price}</h3>
    </section>
    <section class="shipping-info">
      <div>
        <label>Collection Method</label>
        <select change.delegate="toggleAddress()" value.bind="request.collection_method">
          <option value="pickup">Pickup</option>
          <option value="post">Post</option>
        </select>
      </div>
      <div if.bind="request.collection_method === 'pickup'">
        <label></label>
        <p>${request.shipping_address.line_1}</p>
        <p>${request.shipping_address.line_2}</p>
        <p>${request.shipping_address.zip}</p>
        <p>${request.shipping_address.city}</p>
      </div>
      <div if.bind="request.collection_method === 'post'" class="shipping-address">
        <label>Address</label>
        Line 1
        <input value.bind="request.shipping_address.line_1" type="text" />
        Line 2
        <input value.bind="request.shipping_address.line_2" type="text" />
        City
        <input value.bind="request.shipping_address.city" type="text" />
        Zip
        <input value.bind="request.shipping_address.zip" type="text" />
        <label>Destination Country</label>
        <select value.bind="request.destination_id">
          <option repeat.for="country of countries" model.bind="country.id">${country.name}</option>
        </select>
      </div>
    </section>
    <section class="order-payment">
      <div if.bind="cards.length && !state.addcard">
        <label>
          Pay using:
          <select value.bind="selectedCard">
            <option repeat.for="card of cards" model.bind="card.id">${card.brand} ending with ${card.last4}</option>
          </select>
        </label>
        <button click.delegate="charge()">Pay $${request.total_price}</button>
        <button if.bind="!state.addcard" click.delegate="state.addcard = true">Add New Card</button>
      </div>
      <div class="checkout-card-add" if.bind="state.addcard || !cards.length">
        <payment-form save.call="save(token)" button-text="Pay"></payment-form>
        <a href="#" if.bind="cards.length" click.delegate="state.addcard = false">Cancel</a>
      </div>
    </section>
  </div>
  <section>
    <div if.bind="state.inflight" class="loading">
      Processing. Please do not navigate away from this page.
      <div class="sk-wandering-cubes">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
      </div>
    </div>
  </section>
</template>
