@import '../../style/base';

.checkout-container {

}

.blur {
  filter: blur(2px);
}

.loading {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.checkout-card-add {
  a {
    display: inline-block;
    padding-top: 0.5em;
  }
}
