<template>
  <require from="./order-dialog.css"></require>
  <ai-dialog>
    <ai-dialog-body>
      <h2>Confirm</h2>
      <p>You are buying ${product.name}</p>
      <p if.bind="request.size">Size: ${request.size.name}</p>
      <p if.bind="request.color">Color: ${request.color.name}</p>
      <p if.bind="request.edition">Edition: ${request.edition.name}</p>
      <h4 if.bind="request.count">: ${request.edition.name}</h4>
      <h3>Total Cost: ${request.total}</h3>
    </ai-dialog-body>

    <ai-dialog-footer>
      <span click.trigger="controller.cancel()">Cancel</span>
      <button click.trigger="controller.ok(person)">Confirm</button>
    </ai-dialog-footer>
  </ai-dialog>
</template>
