<template>
  <require from="./product.css"></require>

  <section class="product-gallery" name="product-gallery">
    <carousel images.bind="product.data.gallery"></carousel>
  </section>

  <section class="product-info">
    <h1 class="product-info__header">${product.data.name}</h1>
    <h3 class="product-info__price">
      SGD ${request.total_price | toCurrency}
    </h3>
    <div class="product-info__source" for="From">
      <i class="icon ion-location"></i>
      From ${product.data.source.name}
    </div>
    <span class="product-info__ordercount" if.bind="product.data.order_count">${product.data.order_count} people have ordered this</span>
    <div class="product-info__cta">
      <button type="submit" click.delegate="confirm()">Buy Now</button>
      <label>
        Quantity:
        <input change.trigger="getPrice()" type="number" value.bind="request.count" min="1" max="99">
      </label>
    </div>
  </section>

  <section if.bind="product.data.sizes.length || product.data.colors.length || product.data.variations.length" class="product-variations" name="product-variations">
    <!-- variations -->
    <div class="product-selection">
      <h2>Selection</h2>
      <div if.bind="product.data.colors.length" class="product-color">
        <label for="color">Color</label>
        <select name="color" value.bind="request.color" change.delegate="getPrice()">
          <option model.bind="null">Choose</option>
          <option repeat.for="color of product.data.colors" model.bind="color">${color.name}</option>
        </select>
      </div>
      <div if.bind="product.data.sizes.length" class="product-size">
        <label for="size">Size</label>
        <select for="size" value.bind="request.size" change.delegate="getPrice()">
          <option model.bind="null">Choose</option>
          <option repeat.for="size of product.data.sizes" model.bind="size">${size.name}</option>
        </select>
      </div>
      <div if.bind="product.data.variations.length" class="product-variation">
        <label for="Variation">Variations</label>
        <select for="variations" value.bind="request.variation" change.delegate="getPrice()">
          <option model.bind="null">Choose</option>
          <option repeat.for="variation of product.data.variations" model.bind="variation">${variation.name}</option>
        </select>
      </div>
    </div>
  </section>
  <section class="product-details">
    <div class="product-description">
      <h2>Description</h2>
      <div innerhtml.bind="product.data.description | markdown" class="product-description-content">
      </div>
    </div>

    <div class="product-delivery">
      <h2>Delivery</h2>
      <div class="product-delivery-content">
        The product will be available within ${product.data.delivery_time} working days of ordering the item.
      </div>
    </div>
  </section>
</template>
