<template>
  <require from="./create.css"></require>

  <form submit.delegate="create()">
    <label>
      Source
    <select value.bind="request.source_id">
      <option model.bind="null">Choose</option>
      <option repeat.for="country of countries.data" model.bind="country.id">
      ${country.name}
      </option>
    </select>
    </label>
    <label>
      Destination
    <select value.bind="request.destination_id">
      <option model.bind="null">Choose</option>
      <option repeat.for="country of countries.data" model.bind="country.id">
      ${country.name}
      </option>
    </select>
    </label>
    <label>
      Title
      <input type="text" value.bind="request.title"/>
    </label>
    <label>
      Url
      <input type="text" value.bind="request.url"/>
    </label>
    <button type="submit">Create</button>
  </form>

</template>
