@import "../../../style/base";

.carousel-element {
  position: relative;
  overflow: hidden;

  &__image-container {
    height: auto;
    margin: auto;
    &__image {
      max-height: 40vh;
      max-width: auto;
    }
  }

  &__navigation {
    margin-top: 0.5em;
    position: absolute;
    bottom: 1em;
  }

  &__preview {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    img {
      height: 10vh;
    }

  }
}

