@import "../../../style/base";

form.search-form {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);
  text-align: center;

  input[type=search] {
    appearance: none;
    background-color: white;
    border-top: 0px;
    border-right: 0px;
    max-width: 20em;
    border-left: 0px;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid $base-border-color;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.5em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    transition: border-color;
    width: 100%;
  }

  button[type=submit] {
    font-size: 1.5em;
    padding: 5px 10px;
    display: inline-block;
    background-color: white;
    color: black;
  }
}
