// @margin-value: 17px;

// .content {
//   margin-right: @margin-value;
//   margin-left: @margin-value;
// }
//
.modal-footer {
  display: block;
  padding: 0px;
  padding-right: 17px;
  padding-bottom: 12px;
}
