@import "../../../style/base";

.nav-container {
  background-color: white;
  justify-content:space-around;
  display: flex;
  position: fixed;
  z-index: 500;
  font-size: 1.2em;
  width: 100%;
  &__logo {
    text-align: center;
    min-width: 2em;
    padding-left: 0.3em;
    padding-top: 0.6em;

    .logo-image {
      height: 1.50em;
      @media screen and (min-width: $medium-screen) {
        height: 2.4rem;
      }
    }
  }

  &__search {

  }

  &__item {
    color: $secondary-color;
    padding: 0.5em;
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
    &:focus {
      color: $primary-color;
    }

    &--active {
      // border-bottom-left-radius: 1rem;
      // border-bottom-right-radius: 1rem;
      border-bottom: 0.2em solid $primary-color;
      color: $primary-color;
    }
  }
}

