@import "../../../style/base";

.nav-container {
  background-color: white;
  display: flex;
  font-size: 1.2em;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 500;

  &__logo {
    min-width: 2em;
    padding-left: .3em;
    padding-top: .6em;
    text-align: center;

    .logo-image {
      height: 1.5em;
      @media screen and (min-width: $medium-screen) {
        height: 2.4rem;
      }
    }
  }

  &__search {

  }

  &__item {
    color: $secondary-color;
    padding: .6em;

    &:hover {
      background-color: $primary-color;
      color: white;
    }

    &:focus {
      background-color: white;
      color: $primary-color;
    }

    &--active {
      // border-bottom-left-radius: 1rem;
      // border-bottom-right-radius: 1rem;
      border-bottom: 0.2em solid $primary-color;
      color: $primary-color;
    }
  }
}

