.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  font-size: 1.10em;
  margin-left: 20px;
  margin-top: 10px;
}

.main-nav {
}

.signup {
  font-size: 1.10em;
  margin-right: 20px;
  margin-top: 10px;
}


