@import "../../../style/base";

.nav-container {
  background-color: $primary-color;
  @include grid-container;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  align-items: center;
  font-size: 1.2em;
  @include grid-media($desktop) {
    @include grid-shift(1);
    @include grid-column(10);
    margin-left: 40px;
  }
}

.nav-item {
  color: white;
  padding: 0.3em;
  &:hover {
    background-color: white;
    color: $primary-color;
  }

  a {
    color: white;
  }
  a:hover {
    color: inherit;
  }

}

.active {
  background-color: white;
  color: $primary-color;
}

.logo {
  font-size: 1.10em;
  text-align: center;
  min-width: 2em;
  padding-left: 0.3em;
  padding-top: 0.3em;

  .logo-image {
    max-height: 1.50em;
  }
}

.main-nav {
}

.signup {
  .nav-item {
    padding: 0.5em;
  }
}

