@import '../../../style/base';

.gallery-element {
  display: inline-block;
  position: relative;
  width: auto;

  &__image {
    max-height: 40vh;

    &--animate {
      animation: fadeIn .5s;
    }
  }

  &__title {
    bottom: 50%;
    font-size: $subheader-font-size;
    font-weight: 500;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60%;
  }

  &__c2a {
    bottom: 4rem;
    font-size: $base-font-size;
    font-weight: 500;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60%;

    &:hover {
      color: $white;
      opacity: .8;
    }
  }

  &__left-arrow, &__right-arrow {
    bottom: 40%;
    color: $white;
    font-size: 3rem;
    opacity: .5;
    position: absolute;
    vertical-align: middle;

    &:hover {
      color: $white;
      opacity: 1;
    }
  }

  &__left-arrow {
    left: .3em;
  }
  &__right-arrow {
    right: .3em;
  }

  &__nav {
    bottom: 2rem;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    &__dot {
      background-color: $white;
      border: 1px solid $dark-gray;
      border-radius: 5px;
      flex: 1 1 auto;
      height: 10px;
      margin: 2px;
      width: 10px;

      &--active {
        background-color: $primary-color;
      }
    }
  }
}
