<template>
  <require from="./dashboard.css"></require>
  <section class="user-info" if.bind="user">
    <div class="user-info__image">
      <figure class="avatar avatar-xl">
        <img src.bind="user.avatar || 'https://api.adorable.io/avatars/285/' + user.email" alt.bind="user.name"/>
      </figure>
    </div>
    <div class="user-info__details">
      <div class="user-info__details__name">
        ${user.name || user.email}
      </div>
      <div class="user-info__details__country">
        ${user.country.name}
      </div>
      <div class="user-info__details__created">
        ${user.created_at | toDate:'human'}
      </div>
      <a class="user-info__details__logout" href="#" click.delegate="auth.logout()">Logout</a>
    </div>
  </section>

  <section if.bind="shops.data && shops.data.length" class="dashboard-shops">
    <h1>Shops</h1>
    <ul>
      <li repeat.for="shop of shops.data">
        <a href.bind="'user/shops/' + shop.id" >${shop.name}</a>
      </li>
    </ul>
  </section>

  <section if.bind="requests.data" class="dashboard-orders-container">
    <h1>Orders</h1>
    <div class="request-status-selection">
      <label repeat.for="status of requests.statuses">
        <input type="radio" name="request-status" value.bind="status" checked.bind="requests.params.filter['status:eq']" click.delegate="getRequests()" >
        <span class="request-status-selection__item">${status}</span>
      </label>
    </div>
    <br>
    <ul class="dashboard-orders">
      <li class="dashboard-orders__row" repeat.for="request of requests.data">
        <figure class="dashboard-orders__row__imagecontainer">
          <img class="dashboard-orders__row__imagecontainer__image" src.bind="request.product.gallery[0]" alt.bind="request.product.name"/>
        </figure>
        <div class="dashboard-orders-details">
          <a class="dashboard-orders-details__title" href.bind="'user/requests/' + request.id" >${request.product.name}</a>
          <div class="dashboard-orders-details__price" if.bind="request.total_price">SGD ${request.total_price | toCurrency}</div>
          <div if.bind="request.color || request.size || request.edition">
            <span class="chip" if.bind="request.color">${request.color.name}</span>
            <span class="chip" if.bind="request.size">${request.size.name}</span>
            <span if.bind="request.edition">${request.edition.name}</span>
          </div>
          <div>${request.created_at | toDate:'human'}</div>
        </div>
        <div if.bind="request.status === 'ready'" class="dashboard-orders__row__confirm">
          <button click.delegate="confirmDelivery(request)">Got It!</button>
        </div>
      </li>
    </ul>
  </section>
</template>
