<template>
  <require from="./home.css"></require>

  <div class="home-page">

    <div class="home-page__gallery">
      <gallery images.bind="announcements.data"></gallery>
    </div>

    <section class="home-page__categories">
      <a class="home-page__categories__category" repeat.for="category of categories.data" route-href="route:filter; params.bind:{category: category.id}">
        <img class="home-page__categories__category__image" src.bind="category.image" alt="">
      </a>
    </section>
    <section class="home-page__most-popular">
      <div class="home-page__most-popular__cards">
        <div class="home-page__most-popular__cards__card" repeat.for="product of popular.data" >
          <product-card class="product-card" product.bind="product"></product-card>
        </div>
      </div>
    </section>
  </div>
</template>
