<template>
  <require from="./home.css"></require>

  <searchbar></searchbar>

  <!-- featured products -->
  <!-- gallery -->
  <section class="featured">
    <label for="featured">Featured</label>
    <div class="cards">
      <product-card repeat.for="product of featured.data" class="product-card" product.bind="product"></product-card>
    </div>
  </section>

  <!-- popular products -->
  <section class="most-popular">
    <label for="popular">Most Popular</label>
    <div class="cards">
      <product-card repeat.for="product of popular.data" class="product-card" product.bind="product"></product-card>
    </div>
  </section>

  <!-- latest products -->
  <section class="latest">
    <label for="latest">Latest</label>
    <div class="cards">
      <product-card repeat.for="product of latest.data" class="product-card" product.bind="product"></product-card>
    </div>
  </section>

  <!-- categories (like newegg)-->
  <section class="categories">
    <label for="categories">Categories</label>
  </section>
</template>
