<template>
  <require from="./login.css"></require>

  <form class="login-container" submit.delegate="login()">
    <label for="email">Email</label>
    <input type="email" class="email" name="email" value.bind="email">
    <label for="password">Password</label>
    <input type="password" name="password" value.bind="password">
    <ul if.bind="errors.length" class="login-container__errors">
      <li repeat.for="error of errors">${error}</li>
    </ul>
    <button type="submit">Login</button>
  </form>
  <div>
    Don't have an account? <a route-href="route: signup">Signup</a>!
  </div>
  <div>
    <a route-href="route: reset">Forgot password?</a>
  </div>
</template>
