<template>
    <require from="./contact.css"></require>
    <div class="contact">
        <h2 class="contact__title">NovelShip User Support</h2>
        <div>
            <h3 class="contact__header">Item Inquiries:</h3>
            <p class="contact__paragraph">– For all specific product-related (item details/ shipping/ pricing) inquiries please contact the Merchant selling the item via <a class="contact__paragraph__link" href="mailto:sales@novelship.com">sales@novelship.com</a>.</p>
        </div>
        
        <div>
            <h3 class="contact__header">Service Inquiries:</h3>
                <p class="contact__paragraph">– For any service-related questions or concerns, please feel free to email NovelShip’s Member Support Team at 
                    <a class="contact__paragraph__link" href="mailto:support@novelship.com">support@novelship.com</a> and we will reply as promptly as possible.
                </p>
        </div>

        <div>
            <h3 class="contact__header">NovelShip Member Support</h3>
            <h4>Business Hours:</h4>
            <div class="contact__collectiontime">10:00am - 7:00pm Singapore Standard Time</div>
            <div class="contact__officenumber">Tel: +65 6612 4103</div>
            <div class="contact__openinghours">Closed on weekends and Singapore National Holidays</div>
        </div>
    </div>
</template>